{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for book in date_page %}
            <div class="book col-md-4">
                <h2>{{ book.name }}</h2>
                <p>Автор: {{ book.author }}</p>
                <p>Дата публикации: {{ book.pub_date|date:"Y-m-d" }}</p>
            </div>
            {% endfor %}
        </div>
        <p>{% if page_prev %}<a href='{{ prev_url }}'><{{ page_prev.pub_date|date:"Y-m-d" }} {% endif %}</a>
            |{% if page_next %} <a href="{{ next_url }}">{{ page_next.pub_date|date:"Y-m-d"}}> {% endif %} </a></p>
    </div>

{% endblock %}